body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position-x: "center";
  background-position-y: "center";
  color: aliceblue !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
